body {
  background-color: #F3BAC3;
  color: #163D57;
  font-size: 4em;
}

#title {
  padding: .5em .5em .2em .5em;
  margin: .5em;
  font-size: 1.5em;
  font-family: 'Modak', cursive;
}

#form_body {
  background-color: #EBDDEE;
}

#first_name_field {
  padding: .5em;
}

#last_name_field {
  padding: .5em;
}

#email_field {
  padding: .5em;
}

#phone_field {
  padding: .5em;
}

input[type=text] {
  width: 90%;
  border-radius: .5em;
  border: solid #163D57;
}

input[type=email] {
  width: 90%;
  border-radius: .5em;
  border: solid #163D57;
}

input[type=number] {
  width: 90%;
  border-radius: .5em;
  border: solid #163D57;
}

input[type=submit] {
  background-color: #EBDDEE;
  border-radius: .5em;
  border: solid #163D57;
  padding: .3em;
  margin: .5em;
  margin-left: 37%;
}

@media  only screen and (min-width: 1100px) {  /* tablet */

}
@media only screen and (min-width: 1300px) { /* computer  screen */
  body {
    font-size: 1em;
  }
  #title {
    padding: .5em .5em .2em .5em;
    margin: .5em;
    margin-left: 10.5em;
    font-size: 3em;
    font-family: 'Modak', cursive;
  }

  #form_body {
    background-color: #EBDDEE;
    margin-left: 25%;
    margin-right: 10%;
    height: 80%;
    width: 50%;
  }

  #first_name_field {
    padding: 1em;
  }

  #last_name_field {
    padding: 1em;
  }

  #email_field {
    padding: 1em;
  }

  #phone_field {
    padding: 1em;
  }

  input[type=text] {
    width: 90%;
    border-radius: .5em;
    border: solid #163D57;
  }

  input[type=email] {
    width: 90%;
    border-radius: .5em;
    border: solid #163D57;
  }

  input[type=number] {
    width: 90%;
    border-radius: .5em;
    border: solid #163D57;
  }

  input[type=submit] {
    background-color: #EBDDEE;
    border-radius: .5em;
    border: solid #163D57;
    padding: .3em;
    margin: .5em;
    margin-left: 41em;
    width: 5%;
  }
}
