body {
  background-color: #F3BAC3;
  color: #163D57;
  font-size: 5em;
}

#title {
  margin: auto;
  padding: .5em;
}

#form_body {
  background-color: #EBDDEE;
  padding: .5em;
}

#first_name_field {

}

#last_name_field {

}

#email_field {

}

#phone_field {

}
