/*
  Golden Section Modular Scale:
  https://www.modularscale.com/?22&px&1.618
*/

body {
  background-color: #F3BAC3;
  color: #163D57;
  font-size: 4em; /* 93px */
}

#title {
  padding: .5em .5em .2em .5em; /* 3.2 & 8.4px */
  margin: .5em .5em .2em .5em;  /* 3.2 & 8.4px */
  font-size: 1.5em; /* 25px */
  font-family: 'Modak', cursive, sans-serif;
}

#form_body {
  background-color: #EBDDEE;
}

#first_name_field {
  padding: .5em; /* 8.4px */
  margin-left: 2%;
}

#last_name_field {
  padding: .5em; /* 8.4px */
  margin-left: 2%;
}

#email_field {
  padding: .5em; /* 8.4px */
  margin-left: 2%;
}

#phone_field {
  padding: .5em; /* 8.4px */
  margin-left: 2%;
}

input[type=text] {
  width: 90%;
  border-radius: .5em; /* 8.4px */
  border: solid #163D57;
}

input[type=email] {
  width: 90%;
  border-radius: .5em; /* 8.4px */
  border: solid #163D57;
}

input[type=number] {
  width: 90%;
  border-radius: .5em; /* 8.4px */
  border: solid #163D57;
}

input[type=submit] {
  background-color: #EBDDEE;
  border-radius: .5em;  /* 8.4px */
  border: solid #163D57;
  padding: .3em; /* 5.1px */
  margin: .5em; /* 8.4px */
  margin-left: 8%;
  width: 80%;
}

#imgleft {
  display: none;
}

#imgright {
  display: none;
}

@media  only screen and (min-width: 1000px) {  /* tablet */
  body {
    font-size: 2.5em; /* 37px */
  }

  #title {
    font-size: 1.5em; /* 25px */
    margin-left: 3.5em; /* 56px */
  }

  input[type=submit] {
    margin-left: 1.8em; /* 26px */
  }

  #imgleft {
    display: none;
  }

  #imgright {
    display: none;
  }
}

@media only screen and (min-width: 1300px) { /* computer  screen */
  body {
    font-size: 1em; /* 15px */
  }

  #title {
    padding: .5em .5em .2em .5em; /* 8.4px */
    margin: .5em;  /* 3.2 & 8.4px */
    margin-left: 10.5em; /* 200px */
    font-size: 3em; /* 2.4px */
    font-family: 'Modak', cursive;
  }

  #form_body {
    background-color: #EBDDEE;
    margin-left: 25%;
    margin-right: 10%;
    height: 80%;
    width: 50%;
  }

  #first_name_field {
    padding: 1em; /* 15px */
  }

  #last_name_field {
    padding: 1em; /* 15px */
  }

  #email_field {
    padding: 1em; /* 15px */
  }

  #phone_field {
    padding: 1em; /* 15px */
  }

  input[type=text] {
    width: 90%;
    border-radius: .5em; /* 8.4px */
    border: solid #163D57;
  }

  input[type=email] {
    width: 90%;
    border-radius: .5em; /* 8.4px */
    border: solid #163D57;
  }

  input[type=number] {
    width: 90%;
    border-radius: .5em; /* 8.4px */
    border: solid #163D57;
  }

  input[type=submit] {
    background-color: #EBDDEE;
    border-radius: .5em; /* 8.4px */
    border: solid #163D57;
    padding: .3em; /* 8px */
    margin: .5em; /* 8.4px */
    margin-left: 35em; /* 675px */
    margin-right: 35em; /* 675px */
    width: 20%;
  }

  #imgleft {
    float: left;
    display: block;
    width: 25em; /* 620px */
    height: 20em; /* 400px */
    padding: 15px;
    margin-left: 1.875em; /* 36px */
    margin-right: 2.5em; /* 56px */
  }

  #imgright {
    float: right;
    display: block;
    width: 25em; /* 620px */
    height: 20em; /* 400px */
    padding: 15px;
    margin-left: 1.875em; /* 36px */
    margin-right: 2.5em; /* 56px */
  }
}
